body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#eafcfb;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
}
.title h1{
    text-align: right;
}
img {
    min-width: 50vw;
}